/* line 10, ../parallax/parallax.css.scss */
body {
  margin: 0;
  padding: 0;
  min-width: 1437px; }

@-webkit-keyframes swing {
  /* line 28, ../parallax/parallax.css.scss */
  0% {
    -webkit-transform: rotate(90deg); }

  /* line 29, ../parallax/parallax.css.scss */
  50% {
    -webkit-transform: rotate(120deg); }

  /* line 30, ../parallax/parallax.css.scss */
  100% {
    -webkit-transform: rotate(90deg); } }

/* line 33, ../parallax/parallax.css.scss */
#first {
  background: #ffdc2d;
  height: 700px;
  margin: 0 auto;
  padding: 0; }
  /* line 38, ../parallax/parallax.css.scss */
  #first .bg {
    background-image: url(images/lifebelt.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    position: absolute;
    -webkit-animation-name: swing;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    height: 450px;
    width: 900px;
    top: -250px;
    right: -250px; }
    @media screen and (max-width: 1437px) {
      /* line 38, ../parallax/parallax.css.scss */
      #first .bg {
        top: -250px;
        right: -250px; } }

/* line 60, ../parallax/parallax.css.scss */
#second {
  background: url(images/job.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 0;
  margin-top: 0; }

/* line 61, ../parallax/parallax.css.scss */
#third {
  background: url(images/third.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 930px;
  margin: 0 auto;
  padding: 0;
  margin-top: -250px; }

/* line 62, ../parallax/parallax.css.scss */
#forth {
  background: url(images/forth.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 0;
  margin-top: -200px; }

/* line 63, ../parallax/parallax.css.scss */
#fifth {
  background: url(images/fifth.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  margin: 0 auto;
  padding: 0;
  margin-top: -250px; }

/* line 65, ../parallax/parallax.css.scss */
#first-story {
  font-size: 100px;
  margin: 0 auto;
  padding-top: 250px;
  padding-left: 50px;
  min-width: 980px;
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  line-height: 1.5; }

/* line 76, ../parallax/parallax.css.scss */
#second-story {
  font-size: 70px;
  font-family: 'Sue Ellen Francisco', cursive;
  min-width: 300px;
  padding-top: 50px;
  float: right;
  color: #7B564F; }
  /* line 83, ../parallax/parallax.css.scss */
  #second-story #to-hide {
    color: #77497C; }

/* line 88, ../parallax/parallax.css.scss */
#third-story .float {
  font-size: 50px;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Satisfy", cursive;
  width: 300px;
  padding: 2em; }

/* line 96, ../parallax/parallax.css.scss */
.float-left {
  float: left;
  margin-left: 180px;
  margin-top: 120px; }

/* line 102, ../parallax/parallax.css.scss */
.float-right {
  float: right;
  margin-right: 240px;
  margin-top: 230px; }

/* line 108, ../parallax/parallax.css.scss */
#forth-story {
  padding: 3em;
  font-size: 70px;
  font-family: "Monofett", cursive;
  color: #ffdc2d; }

/* line 115, ../parallax/parallax.css.scss */
#fifth-story {
  font-size: 100px;
  font-family: "Codystar", cursive;
  color: red;
  padding-top: 200px; }
