$yellow: #fffea7;
$salmon: #FF847C;
$black: #2A363B;
$coffee: #7C5852;
$green: #3B8686;

*{
  // font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
}

body {
  h2{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 40px;
    color: $salmon;
    text-align: center;
  }
  h3{ 
    font-family: 'Merriweather', serif;
  }
  h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
  }
}

.menu-btn{
  z-index: 1;
  background-color: $yellow;
  position: absolute;
  border-radius: 4px;
  top: 1em;
  left: 0.5em;
  @media (max-width: 40em){ 
    font-size: 1.8em;
    padding: 0.3em;
  }
  @media (min-width: 40em){
    font-size: 2em;
    padding: 0.3em;
  }
  .menu-list{
    // grr what's going on here
  }
}

.hero {
  min-width: 100%;
  height: 405px;
  background-image: url("/images/hero.png");
  color: white;
  position:relative;
  border-top: 5px solid $yellow;
  border-bottom: 5px solid $yellow;
  text-align: center;
  padding-top: 50px;
  #logo{
    height: 80px;
  }
  h1{ 
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: $coffee;
  }
  p{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
  }
  a.main-btn {
    border-radius: 4px;
    padding: 10px 20px;
    color: $salmon;
    background-color:  $yellow;
    &:hover{
      color: $yellow;
      background-color: $coffee;
    }
  }
}

.portfolio{
  padding-top: 60px;
  padding-bottom: 60px;  
  min-width: 100%;
  img{
    border-radius: 50%;
  }
  .port-span{
    text-align: center;
    a, p{
      padding-top: 0.5em;
      color: $salmon;
    }
  }
}

.feature-blog{
  border: 5px solid $yellow;
  padding: 1em 0 3em 0;
  background-color: $salmon;
  h2 {color: white;}
  h3{ color: transparentize($black, 0.2); margin-top: 5%}
  h4{ color: transparentize($black, 0.2); }
  span{ 
    font-family: 'Raleway', sans-serif; 
    font-size: 0.8em;
    font-weight: 500;
    color: $green;
  }
}


.about{
  min-width: 100%;
  margin-top: 60px !important;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 5px dashed $yellow;
  #lily{
    border-radius: 1em;
    @media (min-width: 64.063em) { width: 80%;}
  }
  p{
    font-size: 15px;
    color: $coffee;
  }
}

footer{
  min-width: 100%;
  padding-bottom: 2em;
  background-color: $salmon;
  border-top: 5px solid $yellow;
  color: white;
  p{
    @media only screen and (min-width: 64.063em) { left: 30%; }
    position: absolute; 
    bottom: 0;
    font-size: 0.9em;
  }
  .contact-form{
    @media (min-width: 40em) { padding: 10px; }
    @media (min-width: 64.063em) { padding: 30px;}
    @media (min-width: 90.063em) { padding: 50px;} 
  }
  .fa{
    color: white;
    font-size: 3em; padding-left: 10%;
    @media (min-width: 40em) { font-size: 4em; padding-left: 20%; padding-bottom: 10%; }
    @media (min-width: 64.063em) { font-size: 5em; padding-left: 20%; padding-bottom: 10%;} 
  }
  .fa-github-square{
    margin-top: 1em;
  }
}