<footer class="row">
  <a name="contact"></a>
  <div class="contact-form small-8 large-10 columns">
    <div id="wufoo-zjvxiza1fdtym6">
    Fill out my <a href="https://lilyj.wufoo.com/forms/zjvxiza1fdtym6">online form</a>.
    </div>
  </div>
  <script type="text/javascript">var zjvxiza1fdtym6;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'lilyj', 
  'formHash':'zjvxiza1fdtym6', 
  'autoResize':true,
  'height':'464',
  'async':true,
  'host':'wufoo.com',
  'header':'show', 
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { zjvxiza1fdtym6 = new WufooForm();zjvxiza1fdtym6.initialize(options);zjvxiza1fdtym6.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');</script>
  <div class="small-4 large-2 columns">
   <a href="http://github.com/LilyJ" target="_blank"><%= image_tag 'github.png'%></a>
   <a href="http://www.linkedin.com/in/lilyjarusvasunt" target="_blank"><%= image_tag 'linkedin.png'%></a>
  </div>
</footer>