<div class="hero row">
  <div class="large-3 large-centered columns">
    <% link_to '/' do %>
      <%= image_tag 'logo.png', class: :logo %>
    <% end %>
    <h1>HI. I'M LILY. </h1>
    <p>I love solving puzzles and making cool things.<br>
    Let's grab some coffee if you like what I do.</p>
    <a class="main-btn" href="/#contact">Contact me</a>
  </div>
</div>