<a class="left-off-canvas-toggle menu-btn"><i class="fa fa-bars"></i></a>
<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list menu-list">
    <% if page_classes == "index" %>
      <li><a class="scroll main-btn" data-speed="1500" data-easing="easeInOutCubic" data-url="false" href="#portfolio">Portfolio</a></li>
    <% else %>
      <li><a href="/#portfolio">Portfolio</a></li>
    <% end %>
    <% if page_classes == "index" %>
      <li><a class="scroll main-btn" data-speed="1500" href="#about">About</a></li>
    <% else %>
      <li><a href="/#about">About</a></li>
    <% end %>
    <% if page_classes == "index" %>
      <li><a class="scroll main-btn" data-speed="1500" href="#contact">Contact</a></li>
    <% else %>
      <li><a href="/#contact">Contact</a></li>
    <% end %>
    
    <!-- <li><a class="scroll main-btn" data-speed="1500" href="#">Blog</a></li> -->
  
  </ul>
</aside>