<a class="left-off-canvas-toggle menu-btn"><i class="fa fa-bars"></i></a>
<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list menu-list">
    <li><a class="scroll main-btn" data-speed="1500" data-easing="easeInOutCubic" data-url="false" href="/#portfolio">Portfolio</a></li>
    <!-- <li><a class="scroll main-btn" data-speed="1500" href="#">Blog</a></li> -->
    <li><a class="scroll main-btn" data-speed="1500" href="/#about">About</a></li>
    <li><a class="scroll main-btn" data-speed="1500" href="/#contact">Contact</a></li>
  </ul>
</aside>