/* line 7, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
* {
  font-family: 'Open Sans', sans-serif; }

/* line 13, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
::selection {
  background: #fffea7;
  /* Safari */ }

/* line 18, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
body h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 40px;
  color: #ff847c;
  text-align: center; }
/* line 25, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
body h3 {
  font-family: 'Merriweather', serif; }
/* line 28, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
body h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em; }

/* line 34, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
.menu-btn {
  z-index: 1;
  background-color: #fffea7;
  position: absolute;
  border-radius: 4px;
  top: 1em;
  left: 0.5em; }
  @media (max-width: 40em) {
    /* line 34, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    .menu-btn {
      font-size: 1.8em;
      padding: 0.3em; } }
  @media (min-width: 40em) {
    /* line 34, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    .menu-btn {
      font-size: 2em;
      padding: 0.3em; } }

/* line 54, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
.hero {
  min-width: 100%;
  height: 405px;
  background-image: url("/images/hero.png");
  color: white;
  position: relative;
  border-top: 5px solid #fffea7;
  border-bottom: 5px solid #fffea7;
  text-align: center;
  padding-top: 50px; }
  /* line 64, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .hero #logo {
    height: 80px; }
  /* line 67, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .hero h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: #7c5852; }
  /* line 72, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .hero p {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px; }
  /* line 77, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .hero a.main-btn {
    border-radius: 4px;
    padding: 10px 20px;
    color: #ff847c;
    background-color: #fffea7; }
    /* line 82, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    .hero a.main-btn:hover {
      color: #fffea7;
      background-color: #7c5852; }

/* line 89, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
#portfolio, #projects {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 100%; }
  /* line 93, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  #portfolio img, #projects img {
    border-radius: 50%; }
  /* line 96, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  #portfolio .port-span, #projects .port-span {
    text-align: center; }
    /* line 98, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    #portfolio .port-span a, #portfolio .port-span p, #projects .port-span a, #projects .port-span p {
      padding-top: 0.5em;
      color: #ff847c; }

/* line 105, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
#projects {
  border-top: 5px solid #fffea7; }

/* line 110, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
.feature-blog {
  border: 5px solid #fffea7;
  padding: 1em 0 3em 0;
  background-color: #ff847c; }
  /* line 114, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .feature-blog h2 {
    color: white; }
  /* line 115, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .feature-blog h3 {
    color: rgba(42, 54, 59, 0.8);
    margin-top: 5%; }
  /* line 116, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .feature-blog h4 {
    color: rgba(42, 54, 59, 0.8); }
  /* line 117, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .feature-blog span {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: #3b8686; }

/* line 126, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
.about {
  min-width: 100%;
  margin-top: 60px !important;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 5px dashed #fffea7; }
  /* line 132, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .about #lily {
    width: 50%;
    padding-bottom: 2em;
    margin: 0 auto; }
    @media (min-width: 64.063em) {
      /* line 132, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
      .about #lily {
        width: 80%; } }
  /* line 138, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  .about p {
    font-size: 15px;
    color: #7c5852; }

/* line 144, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
footer {
  min-width: 100%;
  padding-bottom: 2em;
  background-color: #ff847c;
  border-top: 5px solid #fffea7;
  color: white; }
  /* line 150, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  footer p {
    position: absolute;
    bottom: 0;
    font-size: 0.9em; }
    @media only screen and (min-width: 64.063em) {
      /* line 150, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
      footer p {
        left: 30%; } }
  @media (min-width: 40em) {
    /* line 156, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    footer .contact-form {
      padding: 10px; } }
  @media (min-width: 64.063em) {
    /* line 156, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    footer .contact-form {
      padding: 30px; } }
  @media (min-width: 90.063em) {
    /* line 156, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
    footer .contact-form {
      padding: 50px; } }
  /* line 161, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  footer .fa {
    color: white;
    font-size: 3em;
    padding-left: 10%; }
    @media (min-width: 40em) {
      /* line 161, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
      footer .fa {
        font-size: 4em;
        padding-left: 20%;
        padding-bottom: 10%; } }
    @media (min-width: 64.063em) {
      /* line 161, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
      footer .fa {
        font-size: 5em;
        padding-left: 20%;
        padding-bottom: 10%; } }
  /* line 167, /Users/Jarusvasunt/Code/lily_site/source/stylesheets/main.css.scss */
  footer .fa-github-square {
    margin-top: 1em; }
