<div class="portfolio row">
  <h2>Portfolio</h2>
  <div class="large-9 large-centered columns">
     <ul class="port-span small-block-grid-2 large-block-grid-3">
      <li><a href="http://rewireleadership.com" target="_blank"><%= image_tag 'rewireleadership.png'%><p>Rewire Leadership</p></a></li>
      <li><a href="https://github.com/mule-deer-2013/OpenNGO" target="_blank"><%= image_tag 'helpag.png'%><p>Help Agentina</p></a></li>
      <li><%= image_tag 'doodle.png'%><p>Coming soon</p></li>
    </ul>
  </div>
</div>

<div class="about row">
  <h2>About</h2>
  <div class="large-9 large-centered columns">
    <div class="large-3 columns">
      <%= image_tag 'about.png', id: :lily %>
    </div>
    <div class="large-9 columns">
      <p>Earlier this year, I decided to quit my job as a business consultant and moved across the world from Singapore to San Francisco with a dream of becoming a world changer.</p>
      <p>My journey has just begun. I know that it is a risky decision but by far it's well worth it. I love every single moment of coding. I'm living my dream.</p>
    </div>
    <hr>
  </div>
</div>
